


.btn{
    padding: 7px 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary{
    background-color: coral;
    color: #fff;
}

.btn-primary:hover{
    background-color: #fff;
    color: coral;
    border: 3px solid coral;
}

.btn-secondary{
    background-color: cornflowerblue;
    color: #fff; 
}

.btn-warning{
    background-color: green;
    color: #fff;
}

